@charset "UTF-8";
@import "/css/css-reset.css";
@import "/css/grid-layout.css";

nav {
  line-height: 50px;
  color: #fff;
}

ul.menu li {
  display: inline;
  padding: 15px;
}

.card {
  border: 1px solid #efefef;
  padding: 10px;
  font-size: 14px;
}

.card-header h5 {
  border-bottom: 1px dashed #eee;
  padding-bottom: 10px;
}

footer .card-header h5 {
  border-bottom: 1px dashed #fff;
  font-size: 15px;
  width: 60%;
}

footer .card-body li {
  color: yellow;
}

footer .card {
  border: 0;
}
